/node_modules
/npm-debug.log
/yarn-error.log
/public/hot
/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/vendor
/.idea
/.vscode
/.env
/.env.backup
/.phpunit.result.cache
Homestead.yaml
Homestead.json
.phpunit.result.cache
.phpstorm.meta.php
.env.testing

# If the deployment server requires ignoring the .env file (Uncomment if needed)
/*.env

# Ignore Mac system files
.DS_Store

# Ignore folders related to Windows or other IDEs
Thumbs.db
